<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891552848121-pgb09p4560k1544p188c3spkfmhh39mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891552848121-pgb09p4560k1544p188c3spkfmhh39mp</string>
	<key>API_KEY</key>
	<string>AIzaSyDThoJ_ONlMjH-sDzi_Bg8GntEA9GQCEKA</string>
	<key>GCM_SENDER_ID</key>
	<string>891552848121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sewzee.ios</string>
	<key>PROJECT_ID</key>
	<string>sewzee-driver-tailor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sewzee-driver-tailor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891552848121:ios:8c25991e4c4c05f6d0aa28</string>
</dict>
</plist>